<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.5" />
  <title>Sliding Menu/title</title>
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC&family=Dosis:wght@800&family=Fira+Sans&family=Mingzat&family=Poppins&family=Prompt:wght@200&family=Shadows+Into+Light&family=Titan+One&display=swap" rel="stylesheet">
</head>

<body>
  <main>

    <section class = "glass">

      <div class = "main_menu">
        <ul>
          <li class = "menu_item"><a href = "homepage.html"><i class = "fa fa-home"></i>Home</li></a>
          <li class = "menu_item"><a href = "login.html"><i class = "fa fa-bell"></i>Log-out</li></a>
          <li class = "menu_item"><a href = "portfolio.html"><i class = "fa fa-folder-open "></i>My Portfolio</li></a>
          <li class = "menu_item"><a href = "buy.html"><i class = "fa fa-money"></i>Buy</li></a>
          <li class = "menu_item"><a href = "sell.html"><i class = "fa fa-line-chart "></i>Sell</li></a>
          <li class = "menu_item"><a href = "aboutus2.html"><i class = "fa fa-id-card-o"></i>About Us</li></a>
          <li class = "menu_item"><a href = "help2.html"><i class = "fa fa-globe"></i>Help</li> </a>
          <li class = "menu_item"><a href = "delete_account.html"><i class = "fa fa-trash-o"></i>Delete Account</li> </a>

        </ul>
      </div>
      <section class = "text">
        <strong><div class = "title_text">
          <h1>Delete Account</h1>
        </strong></div>
        <form id = "login_in_form", action = '/delete_account.html', method = "post">
          <div class="container">
            <label class = "label">Confirm Password: </label>
            <input name = "user_input" id = "user_input" type="text" placeholder="Confirm Password" name="username" required>
            <button type="submit">Delete</button>
            <hr>
            <p>Sorry to see you go!</p>
            {% if output %}
            <p class = "h31">{{output}}</p>
            {% endif %}
          </div>
        </form>

      </section>
    </section>
    <div class = "circle1"></div>
    <div class = "circle2"></div>
    <div class = "circle3"></div>
    <div class = "circle4"></div>
  </main>
</body>
</html>
